{% extends "barbershop/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ barber.area }}</a>
              <small class="text-muted">{{ barber.service }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ barber.Barbershopname }}</a></h2>
            <p class="article-content">{{ barber.phone }}</p>
          </div>
        </article>
{% endblock content %}
